<div class="container">

    <nav class="nav">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/diag']">Diagnostiques</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/sys-prefs']">Préferences</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pyro']">Pyro Control</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/guidance']">Guidage</a>
        <a class="nav-link" routerLinkActive="active" >Données de vol</a>
    </nav>


    <div *ngIf="!(device | async)" class="alert alert-warning" role="alert">
        Bluetooth is not connected
        <span>
            <button class="btn btn-primary btn-sm float-right" (click)="requestValue()">
                <i class="fab fa-bluetooth-b"></i> Connect
            </button>
        </span>
    </div>
    <div *ngIf="(device | async) as device" class="alert alert-primary" role="alert">
        Connected to ({{ device.name }})
    </div>

    <router-outlet></router-outlet>

</div>