<div class="container">

    <nav class="nav">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/diag']">Diagnostiques</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/sys-prefs']">Préferences</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pyro']">Pyro Control</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/guidance']">Guidage</a>
    </nav>

    <!-- <app-diag></app-diag>
    <sys-prefs></sys-prefs> -->

    <router-outlet></router-outlet>

</div>