<div class="container">
    <h2>Guidage</h2>
    <form [formGroup]="guidanceForm">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        Parametres
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="pyro1" class="col-sm-6 col-form-label">Type de guidage:</label>
                            <div class="col-sm-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        id="radioType1" value=1 name="GUIDING_TYPE"  [checked]="value.GUIDING_TYPE == 1" (change)="update($event)">
                                    <label class="form-check-label" for="radioType1">TVC</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        id="radioType2" value=2 name="GUIDING_TYPE" [checked]="value.GUIDING_TYPE == 2" (change)="update($event)">
                                    <label class="form-check-label" for="radioType2">Ailettes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        id="radioType3" value=0 name="GUIDING_TYPE" [checked]="value.GUIDING_TYPE == 0" (change)="update($event)">
                                    <label class="form-check-label" for="radioType3">Désactivé</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-sm">
                                <div class="custom-switch">
                                    <input class="custom-control-input" type="checkbox" id="roll_control"  name="ROLL_CONTROL_ENABLED" formControlName="ROLL_CONTROL_ENABLED">
                                    <label class="custom-control-label" for="roll_control">Controle du roulis:</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" 
                                        id="reactionWheel" [value]=1 name='ROLL_CONTROL_TYPE' formControlName="ROLL_CONTROL_TYPE">
                                    <label class="form-check-label" for="reactionWheel">Roue de réaction</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" 
                                        id="fins" [value]=2 name='ROLL_CONTROL_TYPE' formControlName="ROLL_CONTROL_TYPE">
                                    <label class="form-check-label" for="fins">Ailettes Axe-X</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        Servo Mapping
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">


                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Axe-X</th>
                                            <th>Axe-Y</th>
                                            <th>Axe-Z</th>
                                            <th>Autre</th>
                                            <th>Rotation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Servo #1</th>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_1_AXIS' formControlName="SERVO_1_AXIS"
                                                        value="X" (change)="update($event)">
                                                    <label class="form-check-label">X</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_1_AXIS' formControlName="SERVO_1_AXIS"
                                                        value="Y" (change)="update($event)">
                                                    <label class="form-check-label">Y</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_1_AXIS' formControlName="SERVO_1_AXIS"
                                                        value="Z" (change)="update($event)">
                                                    <label class="form-check-label">Z</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_1_AXIS' formControlName="SERVO_1_AXIS"
                                                        value="A" (change)="update($event)">
                                                    <label class="form-check-label">A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-toggle">
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_1_ORIENTATION==-1">
                                                        <input type="radio" name='SERVO_1_ORIENTATION' value=-1 name="SERVO_1_ORIENTATION" [checked]="value.SERVO_1_ORIENTATION == -1" 
                                                            (change)="update($event)"> <i class="fas fa-undo"></i>
                                                    </label>
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_1_ORIENTATION==1">
                                                        <input type="radio" name='SERVO_1_ORIENTATION' value=1 name="SERVO_1_ORIENTATION" [checked]="value.SERVO_1_ORIENTATION == 1"
                                                         (change)="update($event)"><i
                                                            class="fas fa-undo fa-flip-horizontal"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Servo #2</th>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_2_AXIS' formControlName="SERVO_2_AXIS"
                                                        id="servo2OptionsX" value="X" (change)="update($event)">  
                                                    <label class="form-check-label" for="servo2OptionsX">X</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_2_AXIS' formControlName="SERVO_2_AXIS"
                                                        id="servo2OptionsY" value="Y" (change)="update($event)">
                                                    <label class="form-check-label" for="servo2OptionsY">Y</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_2_AXIS' formControlName="SERVO_2_AXIS"
                                                        id="servo2OptionsZ" value="Z" (change)="update($event)">
                                                    <label class="form-check-label" for="servo2OptionsZ">Z</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_2_AXIS' formControlName="SERVO_2_AXIS"
                                                        id="servo2OptionsA" value="A" (change)="update($event)">
                                                    <label class="form-check-label" for="servo2OptionsA">A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-toggle">
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_2_ORIENTATION==-1">
                                                        <input type="radio" id="servo2RotaLeft" name="SERVO_2_ORIENTATION" value=-1 name="SERVO_2_ORIENTATION" [checked]="value.SERVO_2_ORIENTATION == -1" (change)="update($event)">
                                                        <i class="fas fa-undo"></i>
                                                    </label>
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_2_ORIENTATION==1">
                                                        <input type="radio" id="servo2RotaRight" name="SERVO_2_ORIENTATION" value=1 name="SERVO_2_ORIENTATION" [checked]="value.SERVO_2_ORIENTATION == 1" (change)="update($event)"><i
                                                            class="fas fa-undo fa-flip-horizontal"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Servo #3</th>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_3_AXIS' formControlName="SERVO_3_AXIS"
                                                        value="X" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">X</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_3_AXIS' formControlName="SERVO_3_AXIS"
                                                        value="Y" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">Y</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_3_AXIS' formControlName="SERVO_3_AXIS"
                                                        value="Z" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">Z</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_3_AXIS' formControlName="SERVO_3_AXIS"
                                                        value="A" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-toggle">
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_3_ORIENTATION==-1">
                                                        <input type="radio" id="servo3RotaLeft" value=-1 name="SERVO_3_ORIENTATION" [checked]="value.SERVO_3_ORIENTATION == -1"
                                                        (change)="update($event)"><i class="fas fa-undo"></i>
                                                    </label>
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_3_ORIENTATION==1">
                                                        <input type="radio" id="servo3RotaRight" value=1 name="SERVO_3_ORIENTATION" [checked]="value.SERVO_3_ORIENTATION == 1" (change)="update($event)"><i
                                                            class="fas fa-undo fa-flip-horizontal"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Servo #4</th>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_4_AXIS' formControlName="SERVO_4_AXIS"
                                                        value="X" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">X</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_4_AXIS' formControlName="SERVO_4_AXIS"
                                                        value="Y" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">Y</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_4_AXIS' formControlName="SERVO_4_AXIS"
                                                        value="Z" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">Z</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name='SERVO_4_AXIS' formControlName="SERVO_4_AXIS"
                                                        value="A" (change)="update($event)">
                                                    <label class="form-check-label" for="inlineRadio1">A</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-toggle">
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_4_ORIENTATION==-1">
                                                        <input type="radio" id="servo4RotaLeft" value=-1 name="SERVO_4_ORIENTATION" [checked]="value.SERVO_4_ORIENTATION == -1" (change)="update($event)">
                                                        <i class="fas fa-undo"></i>
                                                    </label>
                                                    <label class="btn btn-secondary" [class.active]="value.SERVO_4_ORIENTATION==1">
                                                        <input type="radio" id="servo4RotaRight" value=1 name="SERVO_4_ORIENTATION" [checked]="value.SERVO_4_ORIENTATION == 1" (change)="update($event)"><i
                                                            class="fas fa-undo fa-flip-horizontal"></i>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>



                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Servo Alignement
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-5">
                                <div class="row"><label for="" class="col-form-label">Servo-1 (deg.)</label></div>
                                <div class="row">
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm float-right"><i class="fas fa-minus-circle"
                                                (click)="changeServoOfset(1,-1)"></i></button></div>
                                    <div class="col-sm-2 no-padding"><input type="text" readonly
                                            class="form-control form-control-sm input-center" readonly
                                            formControlName="SERVO_1_OFFSET"></div>
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm" (click)="changeServoOfset(1,1)"><i
                                                class="fas fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col">
                                        <label for="" class="col-form-label">Servo-2 (deg.)</label>
                                    </div>
                                    <div class="col">
                                        <label for="" class="col-form-label">Facteur d'ajustement</label>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm float-right"><i class="fas fa-minus-circle"
                                            (click)="changeServoOfset(2,-1)"></i></button></div>
                                    <div class="col-sm-2 no-padding"><input type="text" readonly
                                            class="form-control form-control-sm input-center" readonly
                                            name="SERVO_2_OFFSET" formControlName="SERVO_2_OFFSET"></div>
                                    <div class="col-sm-2 no-padding">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="changeServoOfset(2,1)"><i
                                                class="fas fa-plus-circle"></i></button>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm input-center" 
                                            name="ADJUSTMENT_FACTOR" [(ngModel)]="ADJUSTMENT_FACTOR" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-5">
                                <div class="row"><label for="" class="col-form-label">Servo-3 (deg.)</label></div>
                                <div class="row">
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm float-right"><i class="fas fa-minus-circle"
                                            (click)="changeServoOfset(3,-1)"></i></button></div>
                                    <div class="col-sm-2 no-padding"><input type="text" readonly
                                            class="form-control form-control-sm input-center" readonly
                                            formControlName="SERVO_3_OFFSET"></div>
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm" (click)="changeServoOfset(3,1)"><i
                                                class="fas fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row"><label for="" class="col-form-label">Servo-4 (deg.)</label></div>
                                <div class="row">
                                    <div class="col-sm-1 no-padding"><button type="button"
                                            class="btn btn-secondary btn-sm float-right"><i class="fas fa-minus-circle"
                                            (click)="changeServoOfset(4,-1)"></i></button></div>
                                    <div class="col-sm-2 no-padding"><input type="text" readonly
                                            class="form-control form-control-sm input-center" readonly
                                            formControlName="SERVO_4_OFFSET"></div>
                                    <div class="col-sm-2 no-padding">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="changeServoOfset(4,1)"><i
                                                class="fas fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Ajustements Controle PID
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-sm">
                                <tr>
                                    <th>Axe-X<br />Pitch</th>
                                    <th>Axe-Y<br />Yaw</th>
                                    <th>Axe-Z<br />Roll</th>
                                </tr>
                                <tr>
                                    <td>P: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                    <td>P: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_YAW_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_YAW_Kp}}</span></td>
                                    <td>P: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_ROLL_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_ROLL_Kp}}</span></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Ki" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Ki}}</span></td>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_YAW_Ki" (blur)="update($event)"></span><span class='current-val'>{{value.PID_YAW_Ki}}</span></td>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_ROLL_Ki" (blur)="update($event)"></span><span class='current-val'>{{value.PID_ROLL_Ki}}</span></td>
                                </tr>
                                <tr>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kd" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kd}}</span></td>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_YAW_Kd" (blur)="update($event)"></span><span class='current-val'>{{value.PID_YAW_Kd}}</span></td>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_ROLL_Kd" (blur)="update($event)"></span><span class='current-val'>{{value.PID_ROLL_Kd}}</span></td>
                                </tr>





                                <!-- <tr>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Ki"
                                                formControlName="PID_PITCH_Ki"  name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                    <td>&nbsp;I: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                </tr>
                                <tr>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kd"
                                                formControlName="PID_PITCH_Kd"  name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                    <td>D: <span class="pid"><input type="number"
                                                class="form-control form-control-sm" name="PID_PITCH_Kp" formControlName="PID_PITCH_Kp" (blur)="update($event)"></span><span class='current-val'>{{value.PID_PITCH_Kp}}</span></td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>