<div class="container">
    <h2>System Prefs</h2>

    Bluetooth <span *ngIf="(device | async) as device">({{ device.name }})</span>
    <button *ngIf="!(device | async)" (click)="requestValue()">
      <i class="fab fa-bluetooth-b"></i>
      Connect
    </button>

    <form>

        <div class="form-group row">
            <div class="col-sm-4">Course Correction:</div>
            <div class="col-sm-2">Current: 1</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                </div>
            </div>
        </div>

        <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Correction Start-Time:</label>
                <div class="col-sm-2">Current: 30 Sec</div>
            <div class="col-sm-2">
                <input type="email" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Correction Rate (dps):</label>
                <div class="col-sm-2">Current: 30 Deg.</div>
            <div class="col-sm-2">
                <input type="email" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Launch Detection Treashold (m/s^2):</label>
                <div class="col-sm-2">Current: 30 M/Sec</div>
            <div class="col-sm-2">
                <input type="email" class="form-control" id="inputEmail3">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">Buzzer Enabled:</div>
            <div class="col-sm-2">Current: {{value.BUZZER_ENABLE}}</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" #buzzer id="buzzer" (change)="update(MESSAGE_KEY.BUZZER, buzzer.checked ? 1:0)">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">Debug Enabled:</div>
            <div class="col-sm-2">Current: {{value.DEBUG}}</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" #debug id="debug" (change)="update(MESSAGE_KEY.DEBUG, debug.checked ? 1:0)">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">Memory Enabled:</div>
            <div class="col-sm-2">Current: {{value.MEMORY_CARD_ENABLED}}</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" #memory_en id="memory_en" (change)="update(MESSAGE_KEY.MEMORY_CARD_ENABLED, memory_en.checked ? 1:0)">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">Memory recovery mode:</div>
            <div class="col-sm-2">Current: {{value.DATA_RECOVERY_MODE}}</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" #data_mode id="data_mode" (change)="update(MESSAGE_KEY.DATA_RECOVERY_MODE, data_mode.checked ? 1:0)">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">Format Memory:</div>
            <div class="col-sm-2">Current: {{value.FORMAT_MEMORY}}</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" #format id="format" (change)="update(MESSAGE_KEY.FORMAT_MEMORY, format.checked ? 1:0)">
                </div>
            </div>
        </div>




        <div class="form-group row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>


</div>