<div class="container">
    <h2>System Prefs</h2>

    <form [formGroup]="sysPrefsForm">

        <div class="card">
            <div class="card-header">
                Preferences Systeme
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-4">Buzzer Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="BUZZER_ENABLE"
                                formControlName="BUZZER_ENABLE" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Debug Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="DEBUG"
                                formControlName="DEBUG" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Memory Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="MEMORY_CARD_ENABLED"
                                formControlName="MEMORY_CARD_ENABLED" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Memory recovery mode (Au redemarrage):</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="DATA_RECOVERY_MODE"
                                formControlName="DATA_RECOVERY_MODE" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Format Memory:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="FORMAT_MEMORY"
                                formControlName="FORMAT_MEMORY" (click)="update($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>