<div class="container">
    <h2>System Prefs</h2>

    <form [formGroup]="sysPrefsForm">

        <div class="card">
            <div class="card-header">
                Preferences Systeme
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-4">Buzzer Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="BUZZER_ENABLE"
                                formControlName="BUZZER_ENABLE" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Debug Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="DEBUG"
                                formControlName="DEBUG" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Memory Enabled:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="MEMORY_CARD_ENABLED"
                                formControlName="MEMORY_CARD_ENABLED" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Memory recovery mode (Au redemarrage):</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="DATA_RECOVERY_MODE"
                                formControlName="DATA_RECOVERY_MODE" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">Format Memory:</div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="FORMAT_MEMORY"
                                formControlName="FORMAT_MEMORY" (click)="update($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pyro1" class="col-sm-4 col-form-label">Scan time (ms): <span class='current-val'>  {{value.SCAN_TIME_INTERVAL}}</span></label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="SCAN_TIME_INTERVAL" name="SCAN_TIME_INTERVAL" formControlName="SCAN_TIME_INTERVAL" (blur)="update($event)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Gyro & Barometer calibration:</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="LOCAL_KPA" class="col-form-label">Current pressure(Kpa):&nbsp;&nbsp;<span class='current-val'>{{value.LOCAL_KPA|number: '1.1'}}</span></label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" id="LOCAL_KPA" name="LOCAL_KPA" formControlName="LOCAL_KPA" (blur)="update($event)">
                                </div>
                                <div class="col">
                                    <button type="button" name="CALIBRATE" class="btn btn-success" (click)="update($event)">Calibrate</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>