<div class="container">
  <h2>Diagnostics</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Axis</th>
        <th scope="col">X</th>
        <th scope="col">Y</th>
        <th scope="col">Z</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Gyros</th>
        <td>0.0</td>
        <td>0.0</td>
        <td>-0.1</td>
      </tr>
      <tr>
        <th scope="row">Accels</th>
        <td>{{value.AX}}</td>
        <td>{{value.AY}}</td>
        <td>{{value.AZ}}</td>
      </tr>
      <tr>
        <th scope="row">Orientation</th>
        <td>{{value.X}}</td>
        <td>{{value.Y}}</td>
        <td>{{value.Z}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Altitude(Metres)</th>
        <td>{{value.ALT}}</td>
      </tr>
      <tr>
        <th scope="row">Temp(C)</th>
        <td>{{value.TEMP}}</td>
      </tr>
      <tr>
        <th scope="row">Pression(KPA)</th>
        <td>{{value.KPA}}</td>
      </tr>
      <tr>
        <th scope="row">Humidité(KPA)</th>
        <td>{{value.HUM}}</td>
      </tr>
      <tr>
        <th scope="row">Voltage Batterie</th>
        <td>{{value.VOLT}}</td>
      </tr>

    </tbody>
  </table>

  Debug:   {{ value || "000" }}

</div>