<div class="container">
  <h2>Diagnostics</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Axis</th>
        <th scope="col" class='diag_grid'>X</th>
        <th scope="col" class='diag_grid'>Y</th>
        <th scope="col" class='diag_grid'>Z</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Gyros</th>
        <td class='diag_grid'>0.0</td>
        <td class='diag_grid'>0.0</td>
        <td class='diag_grid'>0.0</td>
      </tr>
      <tr>
        <th scope="row">Accels</th>
        <td class='diag_grid'>{{value.AX | number}}</td>
        <td class='diag_grid'>{{value.AY | number}}</td>
        <td class='diag_grid'>{{value.AZ | number}}</td>
      </tr>
      <tr>
        <th scope="row">Orientation</th>
        <td class='diag_grid'>{{value.X | number:'3.1-1'}}</td>
        <td class='diag_grid'>{{value.Y | number:'3.1-1'}}</td>
        <td class='diag_grid'>{{value.Z | number:'3.1-1'}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Altitude(Metres)</th>
        <td class='diag_grid'>{{value.ALT}}</td>
      </tr>
      <tr>
        <th scope="row">Temp(C)</th>
        <td class='diag_grid'>{{value.TEMP}}</td>
      </tr>
      <tr>
        <th scope="row">Pression(KPA)</th>
        <td>{{value.KPA}}</td>
      </tr>
      <tr>
        <th scope="row">Humidité(KPA)</th>
        <td class='diag_grid'>{{value.HUM}}</td>
      </tr>
      <tr>
        <th scope="row">Voltage Batterie</th>
        <td class='diag_grid'>{{value.VOLT}}</td>
      </tr>
      <tr>
        <th scope="row">Current State</th>
        <td class='diag_grid'>{{states[value.STATE]}}</td>
      </tr>
      <tr>
        <td class='diag_grid'>Manual Mode</td>
        <td class='diag_grid'><select>
          <option>LaunchPad</option>
        </select></td>
      </tr>

    </tbody>
  </table>
</div>