<div class="container">
    <h2>Données de vol</h2>
    <!-- <form [formGroup]="dataForm"> -->
    <form >
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        Controle
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <textarea class="form-control" name="" id="" cols="100" rows="100">

                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>